.landing-page {
    background-color: #007a8c;
}
.welcome-part {
    color: #fff;
    font-weight: bold;
    font-size: 60px;
    letter-spacing: 2px;
}

.welcome-part span {
    font-size: 66px;
    background-color: #fff;
    color: orange;
}

.subtitle {
    color: #fff;
    font-size: 15px;
    font-weight: 300;
    text-transform: capitalize;
}

.btn {
    font-size: 30px;
    height: 50px;
    border-radius: 6px;
}

.btn:hover {
    font-size: 35;
    border-radius: 9px;
    background-color: #0fed3036;
}

.cover {
    background-image: url(/assets/images/cover.jpg);
    background-size: cover; /* Scale the image to cover the element */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    width: 100%; /* Set the width of the element */
    height: 100vh; /* Set the height of the element (e.g., full viewport height) */
}

#owna  a {
    text-decoration: none;
    font-size: 20px;
    color: #b9c5c6;
    
}

#main-input {
    position: absolute;
    top: 599px;
    padding-left: 300px;
}

#main-input h2 {
    position: relative;
    padding-left: 240px;
}

#main-input button {
    margin-top: 50px;
    margin-left: 340px;
}
#input-data {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: aliceblue;
}

#city-data {
    width: 90%;
    margin-top: 50px;
    border-radius: 18px;
    height: 50px;
    border-color: transparent;
}