{% extends 'base.html' %}
{% block content %}
<!-- the page -->
    <section class="weather-page cover-1">
        <!-- Header -->
        <header>
            <!-- <nav> -->
                 <div class="btn-group">

                    <div class="align-baseline m-5 p-3">

                        <nav class="navbar navbar-expand-lg lights col-12" id="owna">
                             <!-- Home Icon -->
                        <a href="base.html">
                            <i class="fa-solid fa-house mx-3"></i>
                        </a>
                            <a class="nav-brand mx-3" href="weather.html">Weather</a>
                            <a class="nav-brand mx-3" href="holiday.html">Calendar</a>
                    
                        </nav>
                    </div>
                </div>
        </header>
        <!-- Main section -->
         <article>
            <div id="main-input">
                <div>
                    <h2 class="text-capitalize" id="input-data">Global holiday finder</h2>
                </div>
                <div class="col-12">
                    <input type="text" name="city-data" id="city-data" placeholder="Enter the city name">
                </div>
                <div class="col">
                    <button class="btn btn-success btn-lg">
                        Browse holidays
                    </button>
                </div>
            </div>
         </article>
        
 
      </section>
{% endblock %}