{% extends 'base.html' %}
{% block content %}
    <section class="landing-page vh-100 d-flex justify-content-center align-items-center">
        <!-- Landing page content -->
        <div class="text-center">
            <h1 class="welcome-part">The API <span>inn</span></h1>
            <p class="subtitle">Where Travel Meets Technology!</p>
            <button class="btn btn-success to-right" id="start-level">
                Show API's
            </button>
        </div>
    </section>
{% endblock %}