{% extends 'base.html' %}
{% block content %}
    <!-- Main Section -->
    <main class="weather-page cover">

        <!-- Requirement Section -->
        <section>

            <!-- Input section -->
            <article>
                <div id="main-input">
                    <div>
                        <h2 class="text-capitalize" id="input-data">find the weather today</h2>
                    </div>
                    <div class="col-12">
                        <input type="text" name="city-data" id="city-data" placeholder="Enter the city name">
                    </div>
                    <div class="col">
                        <button class="btn btn-success btn-lg" onclick="fetchWeather()">
                            Get the weather
                        </button>
                    </div>
                </div>

            <div class="result" id="weatherResult">
                
            </div>
            </article>

        </section>

        <!-- Post section -->
         <section>
            <article>
                <div class="container">
                    <div>
                        <h2 class="text-capitalize" id="post-data">Post weather</h2>
                    </div>
                    <div class="col-12">
                        <input type="text" id="postCity" placeholder="City Name">
                    </div>
                    <div class="col-12">
                        <input type="text" id="postTemp" placeholder="Temperature (e.g., 20°C)">
                    </div>
                    <div class="col-12">
                        <input type="text" id="postCondition" placeholder="Condition (e.g., Sunny)">
                    </div>
                    <div class="col">
                        <button class="btn btn-success btn-sm" onclick="postWeather()">
                            Post Weather
                        </button>
                    </div>
                </div>

            <div class="result" id="postResult">
                
            </div>
            </article>
        </section>

        <!-- Update section -->
        <section>
            <article>
                <div class="container">
                    <div>
                        <h2 class="text-capitalize" id="update-data">Update weather</h2>
                    </div>
                    <div class="col-12">
                        <input type="text" id="updateId" placeholder="City ID">
                    </div>
                    <div class="col-12">
                        <input type="text" id="updateTemp" placeholder="Temperature (e.g., 20°C)">
                    </div>
                    <div class="col-12">
                        <input type="text" id="updateCondition" placeholder="Condition (e.g., Sunny)">
                    </div>
                    <div class="col">
                        <button class="btn btn-info btn-sm" onclick="updateWeather()">
                            Update Weather
                        </button>
                    </div>
                </div>

            <div class="result" id="updateResult">
                
            </div>
            </article>
        </section>

        <!-- Delete section -->
        <section>
            <article>
                <div class="container">
                    <div>
                        <h2 class="text-capitalize" id="delete-data">Update weather</h2>
                    </div>
                    <div class="col-12">
                        <input type="text" id="deleteId" placeholder="City ID">
                    </div>
                    <div class="col">
                        <button class="btn btn-danger btn-sm" onclick="deleteWeather()">
                            Delete Weather
                        </button>
                    </div>
                </div>

            <div class="result" id="deleteResult">
                
            </div>
            </article>
        </section>
 
    </main>
{% endblock %}